# mundi_api
#
# This file was automatically generated by APIMATIC v2.0 (
# https://apimatic.io ).

module MundiApi
  # TransactionsController
  class TransactionsController < BaseController
    # TODO: type endpoint description here
    # @param [String] transaction_id Required parameter: Example:
    # @return GetTransactionResponse response from the API call
    def get_transaction(transaction_id)
      # Prepare query url.
      _path_url = '/transactions/{transaction_id}'
      _path_url = APIHelper.append_url_with_template_parameters(
        _path_url,
        'transaction_id' => transaction_id
      )
      _query_builder = configuration.base_uri.dup
      _query_builder << _path_url
      _query_url = APIHelper.clean_url _query_builder
      # Prepare headers.
      _headers = {
        'accept' => 'application/json'
      }
      # Prepare and execute HttpRequest.
      _request = @http_client.get(
        _query_url,
        headers: _headers
      )
      _request = BasicAuth.apply(_request, configuration)
      _context = execute_request(_request)
      validate_response(_context)
      # Return appropriate response type.
      decoded = APIHelper.json_deserialize(_context.response.raw_body)
      GetTransactionResponse.from_hash(decoded)
    end
  end
end
